@import '../../assets/base/imports';

.container {
  background: $primary;
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.form-container {
  margin-top: 15%;
}

.logo {
  width: 220px;
}

.form {
  background: #fff;
  // box-shadow: 0 10px 20px rgba(#000, 0.2);
  font-size: 14px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  width: 250px;

  button {
    background: $primary;
    color: #fff;
    font-weight: 300;
    padding: 7px 0;

    &.disabled {
      background: rgba(#ccc, 0.4);
    }
  }
}

.copy {
  color: #fff;
  font-size: 13px;
}

a {
  color: darken($primary, 20%);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.error {
  background: #E54D42;
  color: #fff;
  font-size: 12px;
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
}

.mat-focused .mat-input-placeholder {
  color: $primary;
}

.mat-option.mat-selected.mat-primary,.mat-primary .mat-option.mat-selected{
  color: #fff;
}