<app-nav *ngIf="user" [user]="user" (openProfile)="toggleOpenProfile()"></app-nav>
<app-profile
        *ngIf="user"
        [user]="user"
        (resetProfile)="toggleOpenProfile()"
        [setProfileWindow]="openProfileWindow"></app-profile>

<section>
  <aside>
    <ul>
      <li *ngFor="let c_user of users" (click)="getMessages(c_user)">
        <div class="profile-container">
          <img [src]="c_user.image" alt="" *ngIf="isUserImageAvailable(c_user)">
          <svg class="icon icon-user-circle" *ngIf="!isUserImageAvailable(c_user)">
            <use xlink:href="assets/images/sprite.svg#icon-user-circle"></use>
          </svg>
        </div>

        <div class="c_user-info">
          {{ c_user.first_name }} {{ c_user.last_name }}
        </div>
      </li>
    </ul>
  </aside>

  <article>
    <div class="chat_area" id="chat_area">
      <chat-bubble
              *ngFor="let message of messages"
              [message]="message"
              [user]="user.$key"></chat-bubble>
    </div>

    <div class="chat_box" [formGroup]="chat">
      <textarea formControlName="message"></textarea>
      <button md-raised-button
              [disabled]="!chat.valid"
              [ngClass]="{'disabled': !chat.valid}"
              (click)="sendMessage()"
              class="btn_send">
        <svg class="icon icon-send">
          <use xlink:href="assets/images/sprite.svg#icon-send"></use>
        </svg>
      </button>
    </div>
  </article>
</section>