@import '../../assets/base/imports';

section {
  background: #f1f1f1;
  display: flex;
  height: 100%;
  //left: 0;
  //position: absolute;
  //top: 0;
  width: 100%;

  aside {
    background: #fff;
    color: #000;
    flex-grow: 1;

    .logo {
      fill: #fff;
      width: 250px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }

  article {
    flex-grow: 4;
  }
}