<app-nav *ngIf="user" [user]="user" (openProfile)="toggleOpenProfile()"></app-nav>
<app-profile
        *ngIf="user"
        [user]="user"
        (resetProfile)="toggleOpenProfile()"
        [setProfileWindow]="openProfileWindow"></app-profile>

<section>
  <aside>
    <ul>
      <li *ngFor="let c_user of users">
        <div class="profile-container" (click)="showProfile()">
          <img [src]="c_user.image" alt="" *ngIf="isUserImageAvailable(c_user)">
          <svg class="icon icon-user-circle" *ngIf="!isUserImageAvailable(c_user)">
            <use xlink:href="assets/images/sprite.svg#icon-user-circle"></use>
          </svg>
        </div>

        <div class="c_user-info">
          {{ c_user.first_name }} {{ c_user.last_name }}
        </div>
      </li>
    </ul>
  </aside>

  <article>
    Chat Body
  </article>
</section>