@import '../../assets/base/imports';

section {
  background: #f1f1f1;
  display: flex;
  height: calc(100% - #{$navHeight});
  width: 100%;
  z-index: 1;
  @include posa($navHeight,n,n,0);

  aside {
    background: #fff;
    border-right: 1px solid #d1d1d1;
    color: #000;
    flex-grow: 1;
    overflow: auto;

    .logo {
      fill: #fff;
      width: 250px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      border-bottom: 1px solid #f1f1f1;
      cursor: pointer;
      padding: 20px 10px;

      &.selected {
        background: #f1f1f1;
      }

      &:last-of-type {
        border-bottom: 0;
      }

      &:hover {
        background: #f1f1f1;
      }
    }

    .c_user-info, .profile-container {
      display: inline-block;
      vertical-align: middle;
    }

    .profile-container {
      $size: 40px;
      overflow: hidden;
      @include circle($size, #fff);

      img {
        min-height: 100%;
        width: 100%;
      }

      svg {
        fill: $primary;
        height: $size;
        width: $size;
      }
    }

    .c_user-info {
      margin-left: 5px;
    }
  }

  article {
    flex-grow: 4;
    position: relative;

    .chat_area {
      height: calc(100% - 62px);
      overflow-y: scroll;
      padding-top: 20px;
      width: 100%;
      @include posa(0,n,n,0);
    }

    .chat_box {
      background: #fff;
      height: 62px;
      display: flex;
      padding: 10px;
      width: 100%;
      @include box-sizing(border-box);
      @include posa(n,n,0,0);

      textarea {
        border: 1px solid #f1f1f1;
        flex-grow: 1;
        resize: none;
      }
    }

    textarea {
      flex-grow: 1;
      font-size: 14px;
    }

    .btn_send {
      background: $primary;
      margin-left: 10px;
      width: 30px;

      svg {
        fill: #fff;
        height: 20px;
        width: 20px;
      }

      &.disabled {
        background: rgba(#ccc, 0.4);

        svg {
          fill: rgba(#333, 0.4);
        }
      }
    }
  }
}