<div class="container">

	<div class="form">
		<label for="" (click)="selectLabel(0)"><span [ngClass]="{'selected': labelIsSelected[0]}">Email</span></label>
		<input type="text" [(ngModel)]="email" (click)="selectLabel(0)">

		<label for="" (click)="selectLabel(1)"><span [ngClass]="{'selected': labelIsSelected[1]}">Password</span></label>
		<input type="text" [(ngModel)]="pass" (click)="selectLabel(1)">
		<button (click)="createNewUser()">Login</button>
	</div>	

	<p>Need an account? <a routerLink="/register">Sign up</a></p>
</div> 