@import '../../assets/base/imports';

nav {
  background: $primary;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  @include box-shadow(0 2px 8px rgba(#000, 0.7));
  @include clearfix;

  .logo {
    height: 40px;
  }

  .profile-container {
    float: right;
    overflow: hidden;
    @include circle(45px, $primary);

    svg {
      fill: #fff;
      height: 45px;
      width: 45px;
    }
  }
}