<!-- <pre>{{ (user | async)?.name | json}}</pre>
<h1>{{ (user | async)?.name}}</h1>
<p *ngFor="let item of items | async">{{ item.name }}</p>  -->

<div class="container">

	<div class="form">
		<label for="">First Name</label>
		<input type="text" [(ngModel)]="email">

		<label for="">Last Name</label>
		<input type="text" [(ngModel)]="email">

		<label for="">Email</label>
		<input type="text" [(ngModel)]="email">

		<label for="">Password</label>
		<input type="password" [(ngModel)]="pass">

		<label for="">Confirm Password</label>
		<input type="password" [(ngModel)]="pass">

		<button (click)="createNewUser()">Sign Up</button>
	</div>	

	<p>Already have an account? <a routerLink="/login">Login</a></p>
</div> 